.background-text {
  position: sticky;
  top: 0;
  right: -40rem;
  font-size: min(25vw, 40rem);
  color: var(--black);
  opacity: 0.2;
  user-select: none;
  z-index: -1;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .background-text {
    display: none;
  }
}
