.contact {
  position: relative;

  &__form {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & p {
      display: block;
      transform: skewX(-10deg);
      background-color: #fff;
      text-align: center;
      width: 100%;
      margin: 5px;
      margin-bottom: 2rem;
      border-radius: 10px 4px;
      box-shadow: var(--shadow);
      border: 5px solid var(--white);
    }

    & input,
    & textarea,
    & button {
      text-transform: uppercase;
      text-align: center;
      width: 90%;
      background-color: transparent;
      transform: skewX(10deg);
      padding: 2rem;
      font-size: 1.5rem;
      font-weight: 500;
      border: none;
      outline: none;
    }

    & button {
      cursor: pointer;
    }
  }
}

.submit {
  cursor: pointer;
  margin: 0 auto;
  width: fit-content;
}

@media only screen and (max-width: 768px) {
  .contact {
    margin-top: -3rem;
  }
}
