.header {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  padding: 3rem;
  width: calc(100% - 6rem);
  font-size: 3rem;
  font-family: var(--font);
  color: var(--dark-blue);
  letter-spacing: -1px;
  font-weight: 300;

  &__nav {
    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
    }

    &-element {
      margin-left: 4rem;
    }
  }

  @media only screen and (max-width: 768px) {
    & {
      position: absolute;

      &__nav {
        &-list {
          justify-content: space-between;
          font-size: 1rem;
          text-transform: uppercase;
        }

        &-element {
          margin-left: 0;

          &.home {
            display: none;
          }
        }
      }
    }
  }
}
