.home {
  &__main {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    &__title {
      font-family: "Monaco", "Courier New", Courier, monospace;
      font-size: 8rem;
      font-weight: 200;
      color: var(--light-orange);
      text-shadow: 5px 5px 0px var(--dark-blue);
      margin: 0;

      & a {
        transition: 0.3s;

        &:hover {
          color: var(--light-orange);
          text-shadow: -5px -5px 0px var(--dark-blue);

          & span:last-of-type {
            animation: none;
          }
        }

        & span {
          user-select: none;

          &:last-of-type {
            animation: blink 1s infinite;
          }
        }
      }
    }

    &__subtitle {
      color: var(--light-orange);
      text-shadow: none;
      font-size: 4rem;
      justify-self: center;
      font-family: "Snell Roundhand", cursive;
      font-weight: 700;
    }

    &__content {
      text-shadow: none;
      font-size: 3rem;
      color: var(--light-orange);
      font-family: var(--font);
      font-weight: 300;
      letter-spacing: -1px;
      max-width: 70rem;
      line-height: 150%;

      & a,
      & a:hover {
        color: var(--dark-orange) !important;
        text-shadow: none !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home__main {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    margin-top: 9rem;

    &__title,
    &__subtitle {
      text-align: center;
    }

    &__title {
      text-shadow: 1.5px 1.5px 0px var(--dark-blue);
      font-size: 7vw;

      & a:hover {
        text-shadow: -1.5px -1.5px 0px var(--dark-blue);
      }
    }

    &__subtitle {
      font-size: 7vw;
    }

    &__content {
      font-size: 6vw;
    }
  }
}
